<a href="https://colab.research.google.com/github/ysabel1111/1st_Repository/blob/main/ADDITIONALEXERCISE/function_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to create function which returns square root of a number. Call the function to print square root of consecutive 10 numbers.

In [ ]:
#function
def square_root(num):
  return num*num

for i in range(1,11):
  #function call
  result = square_root(i)
  print("The square root of",i, 'is',result)

The square root of 1 is 1
The square root of 2 is 4
The square root of 3 is 9
The square root of 4 is 16
The square root of 5 is 25
The square root of 6 is 36
The square root of 7 is 49
The square root of 8 is 64
The square root of 9 is 81
The square root of 10 is 100

In [ ]:
#Using lstrip
word = "   Knowledge Refresher"
print("lstrip:") 
print(word.lstrip())

#Using rstrip
word = "   Knowledge Refresher" 
print("\nrstrip:") 
print(word.rstrip())

#Using strip
word = "   Knowledge Refresher    " 
print("\nstrip:") 
print(word.strip())

lstrip:
Knowledge Refresher

rstrip:
   Knowledge Refresher

strip:
Knowledge Refresher

Write a Python program to check whether an alphabet is a vowel or consonant

In [ ]:
#if-else

vowels = ['a','e','i','o','u'] #list


alphabet = str(input("Enter an alphabet to check whether vowel or consonant: ")).lower() 

if alphabet in vowels:
  print(alphabet.title(), "is a vowel.")

else:
  print(alphabet.title(), "is a consonant.")

Enter an alphabet to check whether vowel or consonant: A
A is a vowel.

In [ ]:
#if-elif-else

print('Enter two numbers: ')
x=int(input()) #input string
y=int(input()) #input string

if x < y:
  print("The smaller number between", x ,"and",y,": ", x)
elif x == y:
  print(x, "and", y, "have an equal value." )
else:
  print("The smaller number between", x, "and",y,": ", y)

Enter two numbers:
4
5
The smaller number between 4 and 5 :  4

In [ ]:
#List type data+ for loop

iphones = ['Iphone 11', 'Iphone 11 Pro', 'Iphone 11 Pro Max', 'Iphone 12', 'Iphone 12 Pro', 'Iphone 12 Pro Max', 'Iphone 13', 'Iphone 13 Pro', 'Iphone 13 Pro Max']
for iphone in iphones:
  print(iphone)

Iphone 11
Iphone 11 Pro
Iphone 11 Pro Max
Iphone 12
Iphone 12 Pro
Iphone 12 Pro Max
Iphone 13
Iphone 13 Pro
Iphone 13 Pro Max

In [ ]:
#Dictionary data type
student = {'Name': 'Ben Ten', 'ID': 10, 'Course': 'BSC CC'}
print(student)
print('\nDisplay key-value pairs')

for key, value in student.items(): #Reads all items
  print(f"{key} : {value}")

#Adding key-value pair called gender
student['Gender'] = 'Male'
print("\n")
print(student)

print('\nUpdated Dictionary')
for key, value in student.items():
    print(f"{key} : {value}")

{'Name': 'Ben Ten', 'ID': 10, 'Course': 'BSC CC'}

Display key-value pairs
Name : Ben Ten
ID : 10
Course : BSC CC


{'Name': 'Ben Ten', 'ID': 10, 'Course': 'BSC CC', 'Gender': 'Male'}

Updated Dictionary
Name : Ben Ten
ID : 10
Course : BSC CC
Gender : Male

In [ ]:
#Tuple data type

#print tuples
leap_year = (2004, 2008, 2012, 2016)
non_leap = (2100, 2200, 2300, 2500)
print("4 Leap years: ")
for i in leap_year:
  print(i,end=" ")

print("\n4 Non-leap years: ")
for i in non_leap:
  print(i,end=" ")

print("\n")
#concetenate 2 tuples
print(leap_year + non_leap)

#multiple each tuple 3 times
print(leap_year * 3)
print(non_leap * 3)

#compare 2 tuples
print(leap_year == non_leap)

#len()
print(len(leap_year))
print(len(non_leap))

#sum()
print(sum(leap_year))
print(sum(non_leap))

#sorted()
print(sorted(leap_year))
print(sorted(non_leap))

#swap() 
print("\nBefore Swapping")
print("Leap years:", leap_year)
print("Non-leap years:", non_leap)

leap_year, non_leap = non_leap, leap_year
print("\nAfter Swapping")
print("Leap years:", leap_year)
print("Non-leap years:", non_leap)

4 Leap years:
2004 2008 2012 2016
4 Non-leap years:
2100 2200 2300 2500

(2004, 2008, 2012, 2016, 2100, 2200, 2300, 2500)
(2004, 2008, 2012, 2016, 2004, 2008, 2012, 2016, 2004, 2008, 2012, 2016)
(2100, 2200, 2300, 2500, 2100, 2200, 2300, 2500, 2100, 2200, 2300, 2500)
False
4
4
8040
9100
[2004, 2008, 2012, 2016]
[2100, 2200, 2300, 2500]

Before Swapping
Leap years: (2004, 2008, 2012, 2016)
Non-leap years: (2100, 2200, 2300, 2500)

After Swapping
Leap years: (2100, 2200, 2300, 2500)
Non-leap years: (2004, 2008, 2012, 2016)

In [ ]:
#Nested for loop
p = int(input('How many rows you want: ')) 
n = 1
while n<=p:
  f=1
  while f<=n:
    print((n*2-1),end=' ')
    f=f+1
  n=n+1
  print()

How many rows you want: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
#String + for loop

string = input(("Enter a string: "))
count = 0
  
for i in string:
    if i == 's':
        count = count + 1

print ("The number counts of: " +  str(count))

Enter a string: mississippi
The number counts of: 4

In [ ]:

counter =0 
string ="happy"
letter ="p"

for i in string:
    if i == letter:
        counter += 1
print(string)
print(counter)

happy
2

In [ ]:
#Array
import numpy as np

#0 dimensional array
shoes0=np.array("\nBalenciaga")
print("Zero dimentional array: ", shoes0)


#1 dimensional array
shoes1=np.array((["Addidas","Nike","Converse"]))
print("\nOne dimensional array:\n ", shoes1)


#2 dimensional array
shoes2=np.array ([[1,2,3],[4,8,12]])
print("\nTwo dimensional array:\n", shoes2)

#Multi dimensional array
shoes = np.array([[["Adidas","Adidas","Adidas"],["Nike","Nike","Nike"]],[["Converse","Converse","Converse"],["Balenciaga","Balenciage","Balenciage"]]])
print("\nMulti dimensional array:\n", shoes)
print('Dimension of the above array is:\n ',shoes.ndim)

Zero dimentional array:
Balenciaga

One dimensional array:
  ['Addidas' 'Nike' 'Converse']

Two dimensional array:
 [[ 1  2  3]
 [ 4  8 12]]

Multi dimensional array:
 [[['Adidas' 'Adidas' 'Adidas']
  ['Nike' 'Nike' 'Nike']]

 [['Converse' 'Converse' 'Converse']
  ['Balenciaga' 'Balenciage' 'Balenciage']]]
Dimension of the above array is:
  3

In [ ]:
#Turtle Python
#square shape turtle with colors

!pip3 install ColabTurtle
from ColabTurtle.Turtle import *

import ColabTurtle.Turtle as t
initializeTurtle()


t.color("gold")
t.forward(150)
t.left(90)

t.color("purple")
t.forward(150)
t.left(90)

t.color("yellow")
t.forward(150)
t.left(90)

t.color("violet")
t.forward(150)
t.left(90)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7656 sha256=0bc862549efc5b02a730ad6e6715a8a51935ec90c5f6cb7bfbb131edb343cd33
  Stored in directory: /root/.cache/pip/wheels/a9/85/dc/29b6b43c4c6c0fe37192ccad65fe2adcef1e52dd24b0eb61fc
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
#Array + nested for loop

import numpy as np

array = np.array ([5, 25, 60, 10, 35, 85])
print("\nNumbers: " + str(array))

for i in range(len(array)):
  for j in range(i + 1, len(array)):
    if array[i] < array [j]:
      temp = array[i]
      array[i] = array[j]
      array[j] = temp

print("Descending Order: " + str(array))

Numbers: [ 5 25 60 10 35 85]
Descending Order: [85 60 35 25 10  5]