<a href="https://colab.research.google.com/github/ysabel1111/1st_Repository/blob/main/ADDITIONALEXERCISE/if_else_chap_4_guestlist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#If-else statement

#Write a program to print a number only if it is positive.
x= 8
if x>0:
  print( x, 'is positive')

8 is positive

In [ ]:
#if-else statement
#Take two numbers from the user and print the first number only if it smaller than the second number

print('Enter 1st number: ')
x=int(input())

print('Enter 2nd number: ')
y=int(input())

if x<y:
  print(x, 'is the first number and it is smaller than the second number.')

Enter 1st number:
9
Enter 2nd number:
7

In [ ]:
#Take two number from the user, compare and print the smaller number.

print('Enter 1st number: ')
x=int(input())

print('Enter 2nd number: ')
y=int(input())

if x<y:
  print(x, 'is the first number and it is smaller than the second number',y )
else:
  print(y, 'is the second number and it is smaller than the first number',x )

Enter 1st number:
8
Enter 2nd number:
10
8 is the first number and it is smaller than the second number 10

In [ ]:
#Take two numbers from the user, compare and print the smaller number. Also consider a condition where both the numbers can be same.

print('Enter 1st number: ')
x=int(input())

print('Enter 2nd number: ')
y=int(input())

if x<y:
  print(x, 'is the first number and it is smaller than the second number',y )
elif x==y:
  print(x,'is the first number,',y,'is the second number and both numbers are equal' )
else:
  print(y, 'is the second number and it is smaller than the first number',x )

Enter 1st number:
66
Enter 2nd number:
66
66 is the first number, 66 is the second number and both numbers are equal

In [ ]:
#Using nested-if
#Write a program for a shipment company is having the following offer-
#For US: $50 for first 50 shipments and $25 for more than 5 shipments
#For Australia: $150 for first 100 shipments and $15 for more than 100 shipments

print ('Select country: US/Australia')
country=str(input())
print('Enter number of shipments')
shipment=int(input())

if country=="US":
  if shipment<=50:
    print('Shipping cost is $50')
  elif shipment>50:
    print('Shipping cost is $25')
  else:
    print("Sorry, we cannot ship your order.")

if country=="Australia":
  if shipment<=150:
    print('Shipping cost is $100')
  elif shipment>150:
    print('Shipping cost is $15')
  else:
    print("Sorry, we cannot ship your order.")

Select country: US/Australia
US
Enter number of shipments
800
Shipping cost is $25

In [ ]:
#create a list of flowers comprising of 3 flowers

flowers = ['Roses', 'Lily','Orchid']
print(flowers)

#access list elements using index function
print(flowers[0])
print(flowers[1])
print(flowers[2])

#replace the first element of the list with some other flower
flowers[0]='Tulip'
print(flowers)

#add an element at the end of the list use append() function
flowers.append('Daisy')
print(flowers)

#insert elements in the list use the insert() function
flowers.insert(1,'Sunflower')
flowers.insert(5,'Rosemary')
print(flowers)

#remove element in a List using value
print(flowers)
flowers.remove('Lily')
print(flowers)

#remove yung LAST
#remove last element in a list using pop() function
popped=flowers.pop()
print(flowers)

#print the popped element
print(popped)

#sort list alphabetically
print(flowers)
flowers.sort()
print(flowers)

#reverse
flowers.reverse()
print(flowers)

#use delete function (del[]) to empty the list
del flowers[:4]
print(flowers)

['Roses', 'Lily', 'Orchid']
Roses
Lily
Orchid
['Tulip', 'Lily', 'Orchid']
['Tulip', 'Lily', 'Orchid', 'Daisy']
['Tulip', 'Sunflower', 'Lily', 'Orchid', 'Daisy', 'Rosemary']
['Tulip', 'Sunflower', 'Lily', 'Orchid', 'Daisy', 'Rosemary']
['Tulip', 'Sunflower', 'Orchid', 'Daisy', 'Rosemary']
['Tulip', 'Sunflower', 'Orchid', 'Daisy']
Rosemary
['Tulip', 'Sunflower', 'Orchid', 'Daisy']
['Daisy', 'Orchid', 'Sunflower', 'Tulip']
['Tulip', 'Sunflower', 'Orchid', 'Daisy']
[]

In [ ]:
#DICTIONARY DATATYLE

student={'Name':'Ysabel', 'id':'2022500','Course':'Creative Computing'} #dictionary
print(student)
print(student['Name']) #key
print(student['id']) #key
print(student['Course']) #key

{'Name': 'Ysabel', 'id': '2022500', 'Course': 'Creative Computing'}
Ysabel
2022500
Creative Computing