<a href="https://colab.research.google.com/github/ysabel1111/1st_Repository/blob/main/ADDITIONALEXERCISE/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Using while loop, print 1 to 10 using while loop
count=1
while count<=10:
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Using while loop, print 1 to 10 using while loop
count=1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Using while loop, print 1 to 10 using while loop
count=2
while count<=10:
  print(count)
  count+=2

2
4
6
8
10

In [ ]:
#places they love to visit
city_name='\nEnter the name of the city that you would love to visit: '
city_name+='\nEnter quit when you are finished'
while True:
  city=input(city_name)

  if city=='quit':
    break
  else:
    print('I would love to go to', city.title(),'!')

Enter the name of the city that you would love to visit:
Enter quit when you are finishedtokyo
I would love to go to Tokyo !

Enter the name of the city that you would love to visit:
Enter quit when you are finishedquit

In [ ]:
city_name = "\nPlease enter the name of a city you have visited:"
city_name += "\n(Enter 'quit' when you are finished.) "

while True:
  city = input(city_name)
  if city == 'quit':
              break
  else:
    print("I'd love to go to " + city.title() + "!")

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) Tokyo
I'd love to go to Tokyo!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) Bangkok
I'd love to go to Bangkok!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) quit

In [ ]:
#While loop -continue

count=0
while count<10:
  count+=1
  if count%2==0:
    continue
  print(count)
else:
  print('Loop terminated as number exceeds 10')

1
3
5
7
9
Loop terminated as number exceeds 10

In [ ]:
#while loop-continue

odd_numbers = 0
while odd_numbers < 10:
  odd_numbers += 1
  if odd_numbers % 2 == 0:
    continue
  print(odd_numbers)
else:
  print('Loop terminated as number exceeds 10')

1
3
5
7
9
Loop terminated as number exceeds 10

In [ ]:
#list datatype using -For loop


flowers=['rose','jasmine','lily','poppy']
for flower in flowers:
  print(flower)

rose
jasmine
lily
poppy

In [ ]:
cars =['toyota','audi','hyundai','mitsubishi']
for car in cars:
  print(car)

toyota
audi
hyundai
mitsubishi

In [ ]:
#disctionary data-type of a student wih name, id, and course

student={'First Name':'Taylor', 'Last Name':'Swift', 'ID':'500','Course':'BSC CC'}
print(student)
print(student['First Name'])
print(student['Last Name'])
print(student['ID'])
print(student['Course'])

{'First Name': 'Taylor', 'Last Name': 'Swift', 'ID': '500', 'Course': 'BS CC'}
Taylor
Swift
500
BS CC

In [ ]:
#F means format- to break
#keys means given
#value means answer

student = {'name': 'Ben Ten', 'id': 10, 'course': 'BSC CC'}
print('Display key-value pairs')

for key, value in student.items(): #Reads all items
  print(f"\nKey: {key}")
  print(f"Value: {value}")

print('\nDisplay only keys')
for key in student.keys(): #Selects only keys
  print(key)

print('\nDisplay only values')
for value in student.values(): #Selects only values
  print(value)

Display key-value pairs

Key: name
Value: Ben Ten

Key: id
Value: 10

Key: course
Value: BSC CC

Display only keys
name
id
course

Display only values
Ben Ten
10
BSC CC

In [ ]:
student = {'name': 'Ben Ten','id': '10', 'course': 'BSC CC'}
print('Display key-value pairs')
for key, value in student.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

student['gender'] = 'Male'
print(student)

Display key-value pairs

Key: name
Value: Ben Ten

Key: id
Value: 10

Key: course
Value: BSC CC
{'name': 'Ben Ten', 'id': '10', 'course': 'BSC CC', 'gender': 'Male'}

In [ ]:
student = {'name': 'Wild Flower', 'id': 10, 'course':'BSC CC'}
print('Display key-value pairs')
for key, value in student.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

student['gender']='Male'
print(student)

Display key-value pairs

Key: name
Value: Wild Flower

Key: id
Value: 10

Key: course
Value: BSC CC
{'name': 'Wild Flower', 'id': 10, 'course': 'BSC CC', 'gender': 'Male'}

In [ ]:
student1 = {'name' : 'Pat', 'id': '5', 'course': 'BSC CC'}
student2 = {'name' : 'Krunch', 'id': '10', 'course': 'BSC CC'}
student3 = {'name' : 'Charls', 'id': '15', 'course': 'BSC CC'}
student4 = {'name' : 'Renzie', 'id': '20', 'course': 'BSC CC'}
student = [student1,student2,student3,student4]
for std in student:
  print(std)

{'name': 'Pat', 'id': '5', 'course': 'BSC CC'}
{'name': 'Krunch', 'id': '10', 'course': 'BSC CC'}
{'name': 'Charls', 'id': '15', 'course': 'BSC CC'}
{'name': 'Renzie', 'id': '20', 'course': 'BSC CC'}

In [ ]:
#exercises

sandwich_orders=['veggie', 'grilled cheese','turkey','tuna']
finished_sandwiches=[]

while sandwich_orders:
  current_sandwich=sandwich_orders.pop()
  print("I made your " + current_sandwich + " sandwich.")
  finished_sandwiches.append(current_sandwich)

print("\n")
print('Sandwich Orders:')
for sandwich in finished_sandwiches:
    print(sandwich, 'Sandwich')

I made your tuna sandwich.
I made your turkey sandwich.
I made your grilled cheese sandwich.
I made your veggie sandwich.


Sandwich Orders:
tuna Sandwich
turkey Sandwich
grilled cheese Sandwich
veggie Sandwich