<a href="https://colab.research.google.com/github/ysabel1111/1st_Repository/blob/main/ADDITIONALEXERCISE/Program_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to convert Kilometers to miles.

In [ ]:
#Program 1

print('KM TO M CONVERSION\n')
km = int (input ("Enter the value of the kilometer: "))
convert = 0.621371
mi = km * convert
print("Kilometers in miles is: ", mi)

KM TO M CONVERSION

Enter the value of the kilometer: 5
Kilometers in miles is:  3.106855

Write a program to convert temperature in Celsius to Fahrenheit

In [ ]:
#Program 2

print("CELSIUS TO FAHRENHEIT CONVERSION\n")
celsius=int(input("Enter the temperature in celcius: "))
fahrenheit=(celsius* 9/5)+32
print("Temperature in farenheit is:",fahrenheit)

CELSIUS TO FAHRENHEIT CONVERSION

Enter the temperature in celcius: 18
Temperature in farenheit is: 64.4

Write a program to check if a Number is positive, Negative or 0

In [ ]:
#Program 3

print("Enter the number: ")
n=int(input())

if n<=-1:
  print(n, "is a negative number.")
elif n==0: 
  print(n, "is a zero number." )
else:
  print(n, "is a positive number.")

Enter the number:
8
8 is a positive number.

In [ ]:
prompt = "\nEnter your desire number: "
while True:
    number = input(prompt)
    if number == 'No more':
               break 
    number = int(number) 
  
    if number <= 0:
        print(number, "is a negative number.")

    elif number ==0:
        print(number, "is a zero number.")

    else:
        print(number, "is a positive number.")

Enter your desire number: 9
9 is a positive number.

Enter your desire number: 0
0 is a negative number.

Enter your desire number: -22
-22 is a negative number.

Enter your desire number: No more

Write a program to check prime number

In [ ]:
#Program 4
number = int(input("Check the number if prime or not: "))

if number > 1:
  for i in range(2, number):
    if (number % i) == 0:
      print(number, "is not considered a Prime number.")
      break
    
    else:
      print(number, "is a Prime number.")

Check the number if prime or not: 4
4 is not considered a Prime number.

Write a program to display the multiplication table

In [ ]:
#Program 5

n = int(input('Multiplication Table of ')) 
for i in range(0, 11):
   print(n,"x",i, "=" ,n*i)

Multiplication Table of 12
12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Write a program to print the fibonacci series

In [ ]:
#Program 6

print("The Fibonacci Sequence\n")
series = int(input("Enter the term number: "))
n = 1
n1 = 0
n2 = 1

for i in range(0, series):
  print(n)
  n = n1+n2
  n1 = n2
  n2= n

The Fibonacci Sequence

Enter the term number: 5
1
1
2
3
5

Write a program to check if a string is palindrome or not

In [ ]:

#Program 7

string = input(("Enter a string: "))
string = string.lower()
print(string)

reversedstring = string[::-1]

if string == reversedstring:
  print("This string is a palindrome.")
else:
  print("This string is not a palindrome.")

Enter a string: hannah
hannah
This string is a palindrome.

In [ ]:
string = input(("Enter a string: "))
string = string.lower()
print(string)

rev_str = reversed(string)
print(rev_str)
print(list(rev_str))

if list(string)== list(rev_str):
  print("This string is a palindrome.")
else:
  print("This string is not a palindrome.")

Enter a string: HAnah
hanah
<reversed object at 0x7f068eb9fe10>
['h', 'a', 'n', 'a', 'h']
This string is not a palindrome.

Write a program to merge two dictionary

In [ ]:
#Program 8

colors = ["Red", "Yellow", "Blue", "Black"]
shoes = ["Adidas", "Nike", "Converse", "Balenciaga"]

for c, s in zip (colors, shoes):
  print(f'Color: {c}')
  print(f'Shoe: {s}')

Color: Red
Shoe: Adidas
Color: Yellow
Shoe: Nike
Color: Blue
Shoe: Converse
Color: Black
Shoe: Balenciaga

Write a program to count the number of occurence of a character in string

In [ ]:
#Program 9

string = input(("Enter a string: "))
count = 0
  
for i in string:
    if i == 's':
        count = count + 1

print ("The number counts of: " +  str(count))

Enter a string: Mississippi
The number counts of: 4

Write a program to find the largest number among the three input numbers

In [ ]:
#Program 10

x = int(input("Enter 1st number: "))
y =int(input("Enter 2nd number: "))
z= int(input("Enter 3rd number: "))

if (x > y) and (x > z):
  largest = x
  
elif (y > x) and (y > z):
  largest = y

else:
   largest = z
 
print("The largest number:",largest)

Enter 1st number: 199
Enter 2nd number: 29
Enter 3rd number: 30
The largest number: 199