<a href="https://colab.research.google.com/github/ysabel1111/1st_Repository/blob/main/ADDITIONALEXERCISE/string_concatation_circle_manipulating_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sentence

sentence='Today is 6th October, 2022, Thursday.'
print(sentence)

sentence1='Today is 6th October, 2022, Thursday.'
print(sentence1)

sentence_1='Today is 6th October, 2022, Thursday.'
print(sentence_1)

sentence1= 'Today is 6 th October, 2022, Thursday.'
print(sentence1)

sentence_1= 'Today is 6 th October, 2022, Thursday.'
print(sentence_1)

SENTENCE1= 'Today is 6 th October, 2022, Thursday.'
print(SENTENCE1)

SEnTEnCE1= 'Today is 6 th October, 2022, Thursday.'
print(SEnTEnCE1)

SENTENCE_1= 'Today is 6 th October, 2022, Thursday.'
print(SENTENCE_1)

SEnTEnCE_1= 'Today is 6 th October, 2022, Thursday.'
print(SEnTEnCE_1)

_sentence='Today is 6 th October, 2022, Thursday.'
print(_sentence)

today_date='Today is 6 th October, 2022, Thursday.'
print(today_date)

Today_Date='Today is 6 th October, 2022, Thursday.'

Today is 6th October, 2022, Thursday.
Today is 6th October, 2022, Thursday.
Today is 6th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.
Today is 6 th October, 2022, Thursday.

In [ ]:
1sentence='Today is 6th October, 2022, Thursday.'
-sentence='Today is 6th October, 2022, Thursday.'
*sentence='Today is 6th October, 2022, Thursday.'
Sentence-1='Today is 6 th October, 2022, Thursday.'
Sentence*1='Today is 6 th October, 2022, Thursday.'
today's_date='Today is 6th October, 2022, Thursday.

SyntaxError: ignored

In [ ]:
red=4 #int value
white=10.5 #floating point value
blue= 5+6j #complex value

#type()prints the datatype of the variable
print("Type of red is ", type(red))
print("Type of white is ", type(white))
print("type of blue is ", type(blue))

Type of red is  <class 'int'>
Type of white is  <class 'float'>
type of blue is  <class 'complex'>

In [ ]:
print("enter marks")

marks= int(input())

print("Marks obtained are", marks)

enter marks
100
Marks obtained are 100

In [ ]:

side = int(input("Enter the sides:"))
Area = side*side
print("Area of the square="+str(Area))

Enter the sides:5
Area of the square=25

In [ ]:
print('Please enter the side of square:')
side=int(input())
print('Side of the square=', side)
print('The area of a square with side '+str(side)+ 'units=' +str(side**2)+ ' sq units')

Please enter the side of square:
5
Side of the sqyare= 5
The area of a square with side 5units=25 sq units

In [ ]:
pi= 3.14159
r= float(input("the radius of the circle: "))
print("The area of the circle with radius " + str(r) + 'is:' + str(pi*r**2)+ 'sq units')

the radius of the circle: 5
The area of the circle with radius 5.0is:78.53975sq units

In [ ]:
pi= 3.14159
print('Enter the radius of circle:')
r= int(input())
print('The area of the circle with radius '+str(r)+' units=: '+str(pi*r**2)+ 'sq units')

Enter the radius of circle:
5
The area of the circle with radius 5 units=: 78.53975sq units

In [ ]:
#working with strings
sentence1='Today is 6th October, 2022, Thursday.'
print(sentence1)
print (sentence1[0])
print (sentence[0:5])
print (sentence[4:])
print (sentence1*2)

sentence2="Today is our fifth session on 'Introduction on Programming'."
print(sentence2)

sentence3='Today we are learning about different types of variables in python programming'
print(sentence3)

#Strings Concatination
#Write three strings in different variables and print the output as one string.

print(sentence1+sentence2+sentence3)

Today is 6th October, 2022, Thursday.
T
Today
y is 6th October, 2022, Thursday.
Today is 6th October, 2022, Thursday.Today is 6th October, 2022, Thursday.
Today is our fifth session on 'Introduction on Programming'.
Today we are learning about different types of variables in python programming
Today is 6th October, 2022, Thursday.Today is our fifth session on 'Introduction on Programming'.Today we are learning about different types of variables in python programming

In [ ]:
#changing case in Python
date='Today is 6th October, 2022, Thursday.'
print(date.lower())
print(date.upper())
print(date.title())

rhyme='twinkle twinkle little star. how I wonder, what you are!'
print(rhyme.capitalize())
print(date.swapcase())

today is 6th october, 2022, thursday.
TODAY IS 6TH OCTOBER, 2022, THURSDAY.
Today Is 6Th October, 2022, Thursday.
Twinkle twinkle little star. how i wonder, what you are!
tODAY IS 6TH oCTOBER, 2022, tHURSDAY.

In [ ]:
#use of lstrip() function to remove spaces from left side of the string
word='   python'
new_word=word.lstrip()
print(word)
print(new_word)

   python
python

In [ ]:
#use of rstrip() function to remove spaces from right side of the string
word='python   '
new_word=word.rstrip()
print(word)
print(new_word)

python
python

In [ ]:
#To add a tab to your text, use the character combination \t
print("The programming language is \t Python")

#To add a newline in a string, use the character combination \n:
print("\n")
print("Programming Languages:\nPython\nC\nJavaScript")
print("\n")

#formating using \t and \n
print("Programming Languages : \n\tPython\n\tC\n\tJavaScript")

The programming language is 	 Python


Programming Languages:
Python
C
JavaScript


Programming Languages :
	Python
	C
	JavaScript